- provide :title, t("match.edit")
-#%h1= t("user.edit")+" "+@match.

= render 'form'

.center
  = link_to t("user.show"), @match, class: "btn btn-default"
  \|
  = link_to t("user.back"), matches_path, class: "btn btn-default"
