%footer
  -#.footer
  -#<small>
    -#The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    -#by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  -#</small>
  .container
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to t("common.about"), "#"
        %li= link_to t("common.contact"), "#"

